
packages/wallpaperBG.tipa
wallpaperBG.xcodeproj/project.xcworkspace/xcuserdata/
UserInterfaceState.xcuserstate
wallpaperBG.xcodeproj/xcuserdata/
wallpaperBG.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
